
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F0F8F8;
}

header {
    background-color: #008C99;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #006d75;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

h2 {
    color: #008c99;
}

footer {
    background-color: #008c99;
    color: white;
    text-align: center;
    padding: 10px;
}
